/* ------------------------ BASE --------------------------*/
Primary #ED3B30
Secondary #BA4D13;


p {
	font-family: roboto;
}

a{
	text-decoration: none;
	color: white;
	font-family: roboto;
}

h1 {
	font-family: roboto;
	font-size: 2rem;
	font-weight: bold;
	/*font-style: italic;*/
	color: white;
	text-shadow: 0px 0px 7px black;
	grid-column: 2/3;
	z-index: 1;
}

h2 {
	font-size: 2.3rem;
	font-family: roboto;


}

h3 {
	font-size: 1.3rem;
	grid-column: 2;
	font-family: roboto;

}

h5 {
	  font-size: 1.3rem;
	  grid-column: 2;
	  font-family: roboto;

}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}






/*------------------------ LAYOUT -------------------------*/

.l-body {
	display: grid;
	grid-template:
		"hed" auto
		"cnt" auto
		/1fr;
	background-color: #EEEEEE;
}

.l-header {
	grid-area: hed;
	display: grid;
	grid-template:
		"bars" auto
		"hero" minmax(200px, auto)
		/1fr;
}

.l-bars {
	grid-area: bars;
	display: grid;
	grid-template:
		"fold" auto
		"nav"  auto
		/1fr;
  /* position: fixed; */
  z-index: 2;
	/*align-items: center;*/
}

.l-hero {
	  grid-area: hero;
	  display: grid;
	  grid-template-columns: 1fr 4fr 1fr;

	  /* align-items: center; */
	  /* text-align: center; */
	  /* position: relative; */
	  /* justify-content: end; */



	  /* background-image: url(../images/windsurf1.jpg); */
	  /* background-size: cover; */
	  /* background-position: center center; */
}

.l-main {
	grid-area: cnt;
	display: grid;
	grid-template:
		"blb" auto
		"cds" auto
		/1fr

}

.l-cardSection {
	grid-area: cds;
	display: grid;

	grid-template:
		"ttl" auto
		"blb" auto
    "cd" auto
		/1fr;

	padding-top: 3rem;
	padding-bottom: 10rem;
	background-color: #CCCCCC;
	/*background-image: url(../images/carbon-fiber-png-1796267-900x562.png)*/
}


.l-cardsWrapper{
    display: grid;
    grid-area: cd;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    margin: 2rem;

}

.l-cardSection__cd{
    /* grid-column: span 2; */
}

/* 1154 874 */

/* @media (max-width: 874 ) */
@media (max-width: 592px) {
    .l-cardsWrapper {
        margin: 2rem 4rem;
        grid-gap: 50px;
    }
}
/* ----------------------- MODULES ---------------------------*/

.foldingContactBar {
	grid-area: fold;
  
	display: grid;
	grid-template:
		"soc itm"
		/minmax(200px, 1fr) minmax(70px, 2fr);
	align-items: center;
	height: auto;
	justify-content: space-between;

	border-bottom-style: solid;
	border-width: 1px;
	border-color: #383838;
	background-color: #252525;
  /* background-image: url(../images/crbnfbr.png); */
}

.l-foldingContactBar__leftWidgets {
	grid-area: soc;
	display: flex;
	justify-content: flex-start;
	margin-left: 5px;
}

/*icons*/
.svg-inline--fa {
	margin: 0 5px;
}

.l-foldingContactBar__rightWidgets {
	grid-area: itm;
	display: flex;
	justify-content: space-around;
	margin-left: 2px;
	align-items: center;
}


.foldingContactBar__contactItem {
	display: flex;
	font-size: .8rem;
	align-items: center;

}

.socialIcon {
	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 30px;
	background-color: #444444;
	height: 28px;
	width: 28px;
	margin: 5px 8px;
	font-size: 1.2rem;
}

.nav {
	grid-area: nav;
	display: grid;
	grid-template:
		"log nav"
        
		  /1fr 2fr;
  position: sticky-top;
  /* border-bottom: solid #262626; */

	background-color: #262626;
  /* background-image: url(../images/crbnfbr.png); */
}


.navbar-nav {
    justify-content: space-around;
    width: 100%;
}

.dropdown-menu {
    /* z-index: 7; */
}
/* .nav__buttonList { */
/*   grid-area: nav; */
/*   list-style-type: none; */
/*   padding-left: 0; */
/*   display: flex; */
/*   align-items: center; */
/*   justify-items: space-between; */
/*   width: 100% */
/* } */

/* .nav__button { */
/* 	flex: 3; */
/* 	display: flex; */
/* 	justify-content: center; */
/* 	font-family: roboto; */
/* 	padding: 5px 13px; */


/* } */

/* .nav__contactButton { */
/* 	background-color: #ED3B30; */
/* 	border-radius: 3px; */
/* 	padding: 5px 13px; */
/* } */

.logoWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    /* justify-content: center; */
}

.navbarBrand {
    justify-content: center;
}

.carousel-inner l-carousel {
    height: 100%;
}

.logo {
	height: 100%;
	width: 100%;
	grid-area: log;
	/* border-top-right-radius: 18px; */
	/* border-bottom-right-radius: 15px; */
}

.logoSmall {
	  grid-area: log;
    display: none;
}


.l-carousel {
    grid-column: 1/4;
}

.carousel-item {
    height: 100%;
}

.carousel-inner {
   height: 100%;
}

img {
    width: 100%;
    height: 100%;
}

/* .hero__overlay { */
/* 	/\*background-color: #636363;*\/ */
/* 	background-color: #262626; */
/*   z-index: 3; */
/* 	opacity: .6; */
/*     position: absolute; */
/*     top: 0; */
/*     left: 0; */
/*     width: 100%; */
/*     height: 100%; */
/* } */



.l-blurb {
	grid-area: blb;

	display: grid;
	grid-template-columns: 1fr 7fr 1fr;
	text-align: center;
	align-items: center;
	margin: 15px;
}

.blurb__text {
	grid-column: 2;
} 

.cardSection__title {
	grid-area: ttl;

	display: grid;
	justify-content: center;
	align-items: center;

	font-weight: bold;
	/*text-decoration: underline;*/
	color: #ED3B30;

}

.cardSection__blurb {
	grid-area: blb;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	
  padding: 1.5rem;


}
.card {
    border-radius: 8px;
    box-shadow: 0 16px 40px rgba(0, 0, 0, 0.3);
}

.card:hover {
        box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
        transform: scale(1.02, 1.02);

}




@media (max-width: 575px) {
    .nav {
	      grid-template:
		        "log nav"
                /5fr 1fr; 
    }
    /* button.navbar-toggler { */
    /*     grid-area: icn; */
    /* } */
}

@media (max-width: 512px) {
    .foldingContactBar {
        display: none;
    }
    .l-bars {
	      grid-area: bars;
	      display: grid;
	      grid-template:
	          "nav" 1fr
	          /1fr;
	      /*align-items: center;*/
    }
}



@media (max-width: 340px) {
    .logo {
        display: none;
    }
    .logoSmall {
        display: block;
        grid-column: 2/3;
    }
    .l-cardsWrapper {
        margin: 2rem 1rem;
    }

}
